In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("spotify_millsongdata.csv")

In [3]:
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

#Exploratory Data Analysis

In [4]:
df.shape

(57650, 4)

In [5]:
df.size

230600

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [6]:
df.describe()

,artist,song,link,text
count,57650,57650,57650,57650
unique,643,44824,57650,57494
top,Donna Summer,Have Yourself A Merry Little Christmas,/z/zwan/heartsong_20148991.html,I just came back from a lovely trip along the ...
freq,191,35,1,6

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [9]:
#Removing the senetence gaps

In [10]:
df['text']=df['text'].str.lower().replace(r'^\w\s','').replace(r'\n','',regex=True)

In [11]:
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [12]:
def tokenize(text):
    token=word_tokenize(text)
    any=[ps.stem(w) for w in token]
    return "".join(any)

In [13]:
df.drop("link",axis=1,inplace=True)

In [14]:
df["text"].apply(lambda x:tokenize(x))

0        lookatherface,it'sawonderfaceanditmeansomethsp...
1        takeiteasiwithme,pleastouchmegentlilikeasummer...
2        i'llneverknowwhiihadtogowhiihadtoputupsuchalou...
3        makesomebodihappiisaquestionofgiveandtakeyouca...
4        makesomebodihappiisaquestionofgiveandtakeyouca...
                               ...
57645    iridaycomeonplaylettheangelfliletthedevildiego...
57646    powertotheworkermorepowerpowertotheworkerwenee...
57647    allyouneedissomethi'llbelievflashlightinthehal...
57648    northernstaramifrightenwherecanigotorestican't...
57649    comeinmakeyourselfathomei'mabitlatehatetomakey...
Name: text, Length: 57650, dtype: object

In [15]:
df

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"look at her face, it's a wonderful face \rand..."
1,ABBA,"Andante, Andante","take it easy with me, please \rtouch me gentl..."
2,ABBA,As Good As New,i'll never know why i had to go \rwhy i had t...
3,ABBA,Bang,making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,making somebody happy is a question of give an...
...,...,...,...
57645,Ziggy Marley,Good Old Days,irie days come on play \rlet the angels fly l...
57646,Ziggy Marley,Hand To Mouth,power to the workers \rmore power \rpower to...
57647,Zwan,Come With Me,all you need \ris something i'll believe \rf...
57648,Zwan,Desire,northern star \ram i frightened \rwhere can ...
57649,Zwan,Heartsong,come in \rmake yourself at home \ri'm a bit ...

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=2000, stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(df['text'].astype(str))

In [19]:
from sklearn.metrics.pairwise import cosine_similarity
batch_size = 1000  # Set a batch size that your system can handle
cosine_sim = np.zeros((tfidf_matrix.shape[0], batch_size))  # Preallocate smaller array

for i in range(0, tfidf_matrix.shape[0], batch_size):
    end = min(i + batch_size, tfidf_matrix.shape[0])
    cosine_sim[i:end] = cosine_similarity(tfidf_matrix[i:end], tfidf_matrix[:batch_size])

In [20]:
df[df["song"]=="Come With Me"].index[0]

np.int64(4385)

In [21]:
def recommend(songs):
    index=df[df["song"]==songs].index[0]
    distance=sorted(list(enumerate(cosine_sim[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:20]:
        print(df.iloc[i[0]].song)

In [22]:
recommend("Good Old Days")

May Each Day
Same Old Song And Dance
Milkcow Blues
The Hockey Song
Can't Keep A Good Man Down
Old Friend
Me And Bobby And Bobby's Brother
Old Habits Die Hard
Just Want You To Know
The Way Old Friends Do
Shield Of Faith
Late Again
Days Are Numbers
Here We'll Stay
I Ride On Old Pain
Here By Your Side
Does It Matter
Good Time Feelin
The Heat Is On
Have Yourself A Merry Little Christmas

In [23]:
import pickle

In [24]:
Songs=pickle.dump(df,open("Songs_list","wb"))

In [25]:
Similarity=pickle.dump(cosine_sim,open("Similarity.pkl","wb"))